<div class="sticky-top d-flex flex-column p-3">
  <div class="d-flex flex-column gap-4 mt-3">
    <div style="background-color: #ededed" class="rounded-3 p-3">
      <h3 class="fs-5 fw-bold">What's happening</h3>
      <div class="d-flex flex-column gap-2">
        <div class="d-flex flex-column">
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >Programming · Trending</small
          >
          <h4 class="fs-6 mb-0">#MongoVsSequelize</h4>
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >97.5K Tweets</small
          >
        </div>
        <div class="d-flex flex-column">
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >Programming · Trending</small
          >
          <h4 class="fs-6 mb-0">#MongoVsSequelize</h4>
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >97.5K Tweets</small
          >
        </div>
        <div class="d-flex flex-column">
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >Programming · Trending</small
          >
          <h4 class="fs-6 mb-0">#MongoVsSequelize</h4>
          <small style="font-size: 0.7rem; color: #969696; font-weight: 500"
            >97.5K Tweets</small
          >
        </div>
      </div>
    </div>
    <div style="background-color: #ededed" class="rounded-3 p-3">
      <h3 class="fs-5 fw-bold mb-3">Who to follow</h3>

      <div class="d-flex justify-content-between mb-2">
        <div>
          <img
            class="rounded-pill"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM2nfzTwRpulizkUXNX9qrkS32qJ8JKPxqbQ&usqp=CAU"
            style="height: 4rem; width: 4rem; object-fit: cover"
            alt="Jojo"
          />
        </div>
        <div class="me-auto ms-2 mt-1">
          <h6 style="margin-bottom: -5px">Jolyne Kujo</h6>
          <small style="color: #969696; font-weight: 500"> @Ora_Ora</small>
        </div>
        <div>
          <button
            class="btn text-light rounded"
            type="submit"
            style="border-radius: 45px; background-color: #1d9bf0"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////// -->
      <div class="d-flex justify-content-between mb-2">
        <div>
          <img
            class="rounded-pill"
            src="https://upload.wikimedia.org/wikipedia/commons/3/32/Star_Wars_-_Darth_Vader.jpg"
            style="height: 4rem; width: 4rem; object-fit: cover"
            alt="Star_Wars_-_Darth_Vader"
          />
        </div>
        <div class="me-auto ms-2 mt-1">
          <h6 style="margin-bottom: -5px">Darth Vader</h6>
          <small style="color: #969696; font-weight: 500"> @SoyTuPadre</small>
        </div>
        <div>
          <button
            class="btn text-light rounded"
            type="submit"
            style="border-radius: 45px; background-color: #1d9bf0"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////// -->
      <div class="d-flex justify-content-between mb-2">
        <div>
          <img
            class="rounded-pill"
            src="https://i.pinimg.com/originals/c2/9b/8f/c29b8f3f7fc28e23aaeaadd45ece2593.jpg"
            style="height: 4rem; width: 4rem; object-fit: cover"
            alt="Loki"
          />
        </div>
        <div class="me-auto ms-2 mt-1">
          <h6 style="margin-bottom: -5px">Loki Odinson</h6>
          <small style="color: #969696; font-weight: 500"> @Lokillo</small>
        </div>
        <div>
          <button
            class="btn text-light rounded"
            type="submit"
            style="border-radius: 45px; background-color: #1d9bf0"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////// -->
      <div class="d-flex justify-content-between mb-2">
        <div>
          <img
            class="rounded-pill"
            src="https://www.hollywoodinsider.com/wp-content/uploads/2020/10/Hollywood-Insider-The-Boys-Homelander.png"
            style="height: 4rem; width: 4rem; object-fit: cover"
            alt="homelander"
          />
        </div>
        <div class="me-auto ms-2 mt-1">
          <h6 style="margin-bottom: -5px">Homelander</h6>
          <small style="color: #969696; font-weight: 500"
            >@Saving_America</small
          >
        </div>
        <div>
          <button
            class="btn text-light rounded"
            type="submit"
            style="border-radius: 45px; background-color: #1d9bf0"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////// -->
      <div class="d-flex justify-content-between mb-2">
        <div>
          <img
            class="rounded-pill"
            src="https://pbs.twimg.com/profile_images/1410016832048746498/7nb0zbG6_400x400.jpg"
            style="height: 4rem; width: 4rem; object-fit: cover"
            alt="ROSA"
          />
        </div>
        <div class="me-auto ms-2 mt-1">
          <h6 style="margin-bottom: -5px">R O S A L Í A</h6>
          <small style="color: #969696; font-weight: 500">@rosalia</small>
        </div>
        <div>
          <button
            class="btn text-light rounded"
            type="submit"
            style="border-radius: 45px; background-color: #1d9bf0"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////// -->
    </div>
  </div>
</div>
