<div class="d-grid justify-content-end mt-3 mr-5 gap-3">
  <div>
    <img
      class=""
      src="https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/ha.dev%2FTeam5-TwitterApp%2Flogo-twitter-blue.svg?alt=media&token=036737a3-c83e-4dcc-ac70-a2964adcb5b9"
      alt="logo_twitter"
    />
  </div>
  <div>
    <img
      class=""
      src="https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/ha.dev%2FTeam5-TwitterApp%2Fhome-twitter-black.svg?alt=media&token=c27bd955-3133-4136-ae20-9b845e4be293"
      alt="home_icon"
    />
  </div>
  <div>
    <img
      class=""
      src="https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/ha.dev%2FTeam5-TwitterApp%2Ficon-twitter-black.svg?alt=media&token=c5b33232-502c-4218-bc70-efed4ea26f6f"
      alt="user_icon"
    />
  </div>
  <div>
    <img
      class=""
      src="https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/ha.dev%2FTeam5-TwitterApp%2Ficon-twitter-black.svg?alt=media&token=c5b33232-502c-4218-bc70-efed4ea26f6f"
      alt="user_icon"
    />
  </div>
</div>
