<div class="d-grid justify-content-end m-3">
  <div class="d-flex flex-column align-items-center gap-3">
    <div>
      <img
        class=""
        src="https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/ha.dev%2FTeam5-TwitterApp%2Flogo-twitter-blue.svg?alt=media&token=036737a3-c83e-4dcc-ac70-a2964adcb5b9"
        alt="logo_twitter"
      />
    </div>
    <div>
      <img
        class=""
        src="https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/ha.dev%2FTeam5-TwitterApp%2Fhome-twitter-black.svg?alt=media&token=c27bd955-3133-4136-ae20-9b845e4be293"
        alt="home_icon"
      />
    </div>
    <div>
      <img
        class=""
        src="https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/ha.dev%2FTeam5-TwitterApp%2Ficon-twitter-black.svg?alt=media&token=c5b33232-502c-4218-bc70-efed4ea26f6f"
        alt="user_icon"
      />
    </div>
    <div class="p-2" style="background-color: #1d9bf0; border-radius: 100%">
      <img
        class=""
        src="https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/ha.dev%2FTeam5-TwitterApp%2Fnew-tweet-plume.svg?alt=media&token=581d51d9-89b5-4cb3-a29e-0cc2a1e8eae7"
        alt="user_icon"
      />
    </div>
  </div>
  <div class="p-2" style="background-color: #f01d1d; border-radius: 100%">
    <img
      class=""
      src="https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/ha.dev%2FTeam5-TwitterApp%2Flogout-icon.svg?alt=media&token=d6b309ec-b36d-452b-bd89-52766df67ac7"
      alt="user_icon"
    />
  </div>
</div>
