<div class="d-flex gap-3 w-100 align-items-center">
  <!--     Info Usuario -->
  <div class="d-flex align-items-start gap-3 w-100">
    <!--     Imagen Usuario -->
    <figure class="d-flex justify-content-center align-self-center" style="">
      <img
        src="<%= user.image %>"
        class="figure-img img-fluid w-50 rounded-pill align-self-center"
        alt="image"
      />
    </figure>
    <!--     Desc. Usuario -->
    <div class="align-self-center">
      <h6 class="mb-0"><%= user.firstname %> <%= user.lasttname %></h6>
      <small class="">@<%= user.username %></small>
    </div>
  </div>
  <!--     Boton Follow -->
  <div class="justify-content-end">
    <button type="button" class="btn btn-primary">Follow</button>
  </div>
</div>
