<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("../partials/meta") %>
  </head>
  <body class="bg-primary-subtle text-emphasis-primary">
    <div class="container mt-5 bg-primary text-white">
      <div class="row g-0 shadow rounded">
        <div class="col-12 col-lg-6 fondo text-div text-center">
          <h1 class="mb-5">Get insights that help your business grow</h1>
          <p>Hi! Welcome to Twitter Clone</p>
        </div>
        <div class="col-12 col-lg-6">
          <form action="" method="post"></form>
        </div>
      </div>
    </div>
  </body>
</html>
